USE [master]
GO
/****** Object:  Database [FasecoldaDB]    Script Date: 1/06/2026 1:07:14 a. m. ******/
CREATE DATABASE [FasecoldaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FasecoldaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\FasecoldaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FasecoldaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\FasecoldaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FasecoldaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FasecoldaDB]
GO
/****** Object:  Table [dbo].[Accidentes]    Script Date: 1/06/2026 1:07:19 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accidentes](
	[IdAccidente] [int] IDENTITY(1,1) NOT NULL,
	[Placa] [varchar](6) NOT NULL,
	[Fecha] [date] NOT NULL,
	[TipoChoque] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAccidente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Accidentes] ON 

INSERT [dbo].[Accidentes] ([IdAccidente], [Placa], [Fecha], [TipoChoque]) VALUES (47, N'AAA111', CAST(N'2026-01-15' AS Date), N'Solo latas')
INSERT [dbo].[Accidentes] ([IdAccidente], [Placa], [Fecha], [TipoChoque]) VALUES (48, N'AAA111', CAST(N'2026-05-20' AS Date), N'Heridos')
INSERT [dbo].[Accidentes] ([IdAccidente], [Placa], [Fecha], [TipoChoque]) VALUES (49, N'BBB222', CAST(N'2026-02-10' AS Date), N'Muertos')
SET IDENTITY_INSERT [dbo].[Accidentes] OFF
GO
USE [master]
GO
