USE [master]
GO
/****** Object:  Database [ValidacionesDB]    Script Date: 1/06/2026 1:11:27 a. m. ******/
CREATE DATABASE [ValidacionesDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ValidacionesDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\ValidacionesDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ValidacionesDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\ValidacionesDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ValidacionesDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ValidacionesDB]
GO
/****** Object:  Table [dbo].[Cotizaciones]    Script Date: 1/06/2026 1:11:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cotizaciones](
	[idCotizacion] [int] IDENTITY(1,1) NOT NULL,
	[placa] [varchar](20) NULL,
	[ccCliente] [varchar](20) NULL,
	[resultado] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[idCotizacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cotizaciones] ON 

INSERT [dbo].[Cotizaciones] ([idCotizacion], [placa], [ccCliente], [resultado]) VALUES (1, N'AAA111', N'123456789', N'Rechazada')
INSERT [dbo].[Cotizaciones] ([idCotizacion], [placa], [ccCliente], [resultado]) VALUES (2, N'AAA111', N'123456721', N'Aprobada')
INSERT [dbo].[Cotizaciones] ([idCotizacion], [placa], [ccCliente], [resultado]) VALUES (3, N'PLACA1', N'733456721', N'Rechazada')
SET IDENTITY_INSERT [dbo].[Cotizaciones] OFF
GO
USE [master]
GO
